* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.border {
  border: 2px solid white;
  border-radius: 10px;
}

/* CONTENEDORES */

.containerNosotros {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 25% 1fr 1fr 1fr 20%;
  gap: 1px 1px;
  grid-template-areas:
    "headerImagen headerNav headerNav"
    "CEO CEO CEO"
    "CTO CTO CTO"
    "CFO CFO CFO"
    "footerText footerMap footerImg";
  min-height: 100%;
  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
  overflow: auto;
}



/* HEADER Y NAV (COMPARTIDOS EN TODOS) */

.headerImagen {
  grid-area: headerImagen;
  display: flex;
  flex-wrap: wrap;
}

.headerNav {
  grid-area: headerNav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.headerNav div a {
  font-size: large;
  border-bottom: 4px solid #da27d1;
  font-weight: 800;
  padding: 10px;
}

.footerImg {
  grid-area: footerImg;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.footerImg img {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  margin-left: 30px;
}

.footerMap {
  grid-area: footerMap;
  display: flex;
  flex-flow: column;

  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.footerText {
  grid-area: footerText;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 30px;
}

.footerText span {
  font-size: 15px;
  font-weight: 800;
}

.footerText span {
  font-size: 15px;
  font-weight: 800;
}

.footerText {
  grid-area: footerText;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 30px;
}

.footerText span {
  font-size: 15px;
  font-weight: 800;
}

/* CSS NOSOTROS */

.CEO {
  grid-area: CEO;
  display: flex;
  flex-flow: row;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textoPuesto {
  width: 50%;
  font-size: 30px;
  font-style: italic;
  padding: 20px;
}

.tituloPuesto {
  font-size: 50px;
  color: rebeccapurple;
  border: 10px solid pink;
  border-radius: 20px;
  padding: 20px;
  text-shadow: 2px 2px 5px blue;
}

.CTO {
  grid-area: CTO;
  display: flex;
  flex-flow: row;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CFO {
  grid-area: CFO;
  display: flex;
  flex-flow: row;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  .containerNosotros {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35% 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr 1fr 10% 5%;
    gap: 1px 1px;
    grid-template-areas:
      "headerImagen headerNav headerNav"
      "CEO CEO CEO"
      "CTO CTO CTO"
      "CFO CFO CFO"
      "footerMap footerMap footerImg"
      "footerText footerText footerText";
    min-height: 100%;
  }

  .textoPuesto {
    font-size: 20px;
    width: 100%;
  }

  .tituloPuesto {
    font-size: 40px;
    margin-top: 20px;
  }

  .CEO {
    flex-flow: column;
    height: min-content;
  }

  .CTO {
    flex-flow: column;
    height: min-content;
  }

  .CFO {
    flex-flow: column;
    height: min-content;
  }

  .footerText {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: auto;
    padding: 20px;
  }

  .footerText span {
    font-size: 12px;
  }
}

/* MOBILE */

@media (max-width: 480px) {
  .containerNosotros {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35% 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr 10% 5%;
    gap: 1px 1px;
    grid-template-areas:
      "headerImagen headerNav headerNav"
      "CEO CEO CEO"
      "CTO CTO CTO"
      "CFO CFO CFO"
      "footerMap footerMap footerImg"
      "footerText footerText footerText";
    min-height: 100%;
  }

  .textoPuesto {
    font-size: 20px;
    width: 100%;
  }

  .tituloPuesto {
    font-size: 40px;
    margin-top: 20px;
  }

  .CEO {
    flex-flow: column;
    height: min-content;
  }

  .CTO {
    flex-flow: column;
    height: min-content;
  }

  .CFO {
    flex-flow: column;
    height: min-content;
  }

  .headerNav div a {
    font-size: medium;
    border-bottom: 4px solid #1b2b88;
    font-weight: 800;
    padding: 10px;
  }

  .footerText {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: auto;
    padding: 20px;
  }

  .footerText span {
    font-size: 15px;
  }
}
