* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.border {
  border: 2px solid white;
  border-radius: 10px;
}

/* CONTENEDORES */

.containerLogin {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 25% 0.5fr 1.5fr 20%;
  gap: 1px 1px;
  grid-template-areas:
    "headerImagen headerNav headerNav"
    "aside1 Titulo aside2"
    "aside1 formulario aside2"
    "footerText footerMap footerImg";
  min-height: 100vh;
  overflow: auto;
  background-color: #e6c84f;
  background-image: linear-gradient(315deg, #e6c84f 0%, #e8807f 74%);
}



/* HEADER Y NAV (COMPARTIDOS EN TODOS) */

.headerImagen {
  grid-area: headerImagen;
  display: flex;
  flex-wrap: wrap;
}

.headerNav {
  grid-area: headerNav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.headerNav div a {
  font-size: large;
  border-bottom: 4px solid #911ca0;
  font-weight: 800;
  padding: 10px;
}

.footerImg {
  grid-area: footerImg;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.footerImg img {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  margin-left: 30px;
}

.footerMap {
  grid-area: footerMap;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding-bottom: 10px;
}

.footerText {
  grid-area: footerText;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 30px;
}

.footerText span {
  font-size: 15px;
  font-weight: 800;
}

/* CSS LOGIN */

.aside1 {
  grid-area: aside1;
}

.aside2 {
  grid-area: aside2;
}

.Titulo {
  grid-area: Titulo;
  text-align: center;
  color: darkviolet;
  padding: 20;
}

.formulario {
  grid-area: formulario;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

label {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

input {
  text-align: center;
  font-size: 20px;
}

span {
  text-align: center;
  font-weight: 800;
}

/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  .containerLogin {
    display: grid;
    grid-template-columns: 35% 1fr 1fr;
    grid-template-rows: 15% 15% 1fr 10% 5%;
    gap: 1px 1px;
    grid-auto-flow: column;
    grid-template-areas:
      "headerImagen headerNav headerNav"
      "Titulo Titulo aside2"
      "formulario formulario aside2"
      "footerMap footerMap footerImg"
      "footerText footerText footerText";
    min-height: 100vh;
    min-height: 100vh;
    overflow: auto;
  }

  .aside1 {
    display: none;
  }

  .headerNav div a {
    font-size: medium;
  }

  .footerText {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: auto;
    padding: 20px;
  }

  .footerText span {
    font-size: 12px;
  }
}

.Titulo {
  font-size: 20px;
}

/* MOBILE */

@media (max-width: 480px) {
  .containerLogin {
    display: grid;
    grid-template-columns: 35% 1fr 1fr;
    grid-template-rows: 10% 15% 1fr 10% 5%;
    gap: 1px 1px;
    grid-auto-flow: column;
    grid-template-areas:
      "headerImagen headerNav headerNav"
      "Titulo Titulo Titulo"
      "formulario formulario formulario"
      "footerMap footerMap footerImg"
      "footerText footerText footerText";
    min-height: 100vh;
    min-height: 100vh;
    overflow: auto;
  }

  .aside1 {
    display: none;
  }

  .aside2 {
    display: none;
  }

  .headerNav div a {
    font-size: small;
    border-bottom: 4px solid #911ca0;
    font-weight: 800;
    padding: 10px;
  }

  .footerText {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: auto;
    padding: 20px;
  }

  .footerText span {
    font-size: 10px;
  }

  .aside {
    display: none;
  }
}
